<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"  content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
	<meta name="keywords" content="ifood ifoods chain ifoodschain ifoodchain 超级探针 区块链 食品检测 食品安全 食品 superprobe probe">
	<meta name="description" content="ifood ifoods chain ifoodschain ifoodchain 超级探针 区块链 食品检测 食品安全 食品 superprobe probe">
	<meta name="author" content="ifooschain-development department">
	<meta name="robots" content="index,follow">
	<meta name="renderer" content="webkit">

	<title></title>

	<!-- CSS -->
	<!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500" rel="stylesheet">-->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
	<link rel="stylesheet" href="../css/icomoon.css">
	<link rel="stylesheet" href="../css/animate.css">
	<link rel="stylesheet" href="../css/form-elements.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/media-queries.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Favicon and touch icons -->
	<link rel="shortcut icon" href="../ico/ifoodsLogo.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/ifoodsLogo.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/ifoodsLogo.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/ifoodsLogo.png">
	<link rel="apple-touch-icon-precomposed" href="../ico/ifoodsLogo.png">

	<!--angular-translate-->
	<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
	<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular-loader.min.js"></script>
	<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular-sanitize.min.js"></script>
	<script src="../js/angular-translate.min.js"></script>
	<script src="../js/angular-loader-static-files.js"></script>

	<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.js"></script>
	<script src="https://cdn.bootcss.com/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
	<script src="https://cdn.bootcss.com/retina.js/1.2.0/retina.min.js"></script>
	<script src="https://cdn.bootcss.com/waypoints/2.0.5/waypoints.min.js"></script>
	<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/wow/1.0.3/wow.min.js"></script>

	<style>

	</style>
</head>

<body ng-controller="tx-info-Controller">

<!-- Top menu -->
<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" onclick="toIndex()"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="top-navbar-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="scroll-link" href="#top-content" onclick="toIndex()" ng-bind-html=" 'message.home' | translate"></a></li>
				<li><a href="javascript:;" ng-click="changeLangSelectIndex()">{{langs[langSelectIndex].name}}</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- content -->
<div class="container">
	<div class="span6" style="text-align: left">
		<ul class="breadcrumb">
			<li>
				<a href="../index.html"><span class="divider">{{'message.home' | translate}}</span></a>
			</li>
			<li class="active">
				<a href="./tx.html"><span class="divider">{{'tx.tx-list' | translate}}</span></a>
			</li>
			<li class="active">
				<span class="divider">{{'tx.tx' | translate}}</span>
			</li>
		</ul>
	</div>

	<div>
		<div class="panel-body no-padding">
			<table class="table table-striped no-margin">

				<tbody>
				<tr>
					<th class="th-right col-xs-3" style='vertical-align: middle;text-align: right;'>{{'tx.tx-type' | translate}}: </th>
					<th class="th-left col-md-4" style='width:40%;vertical-align: middle;text-align: left;'>{{txInfo.typeName}}</th>
				</tr>
				<tr>
					<th class="th-right col-xs-3" style='width:10%;vertical-align: middle;text-align: right;'>{{'hashValue' | translate}}: </th>
					<th class="th-left col-md-4"  style='width:40%;vertical-align: middle;text-align: left;'>{{txInfo.hash}}</th>
				</tr>
				<tr>
					<th class="th-right col-xs-3" style='vertical-align: middle;text-align: right;'>{{'time' | translate}}: </th>
					<th class="th-left col-md-4"  style='vertical-align: middle;text-align: left;'>{{txInfo.timestamp*1000 | date:'yyyy-MM-dd hh:mm:ss'}}</th>
				</tr>
				<tr>
					<th class="th-right col-xs-3" style='vertical-align: middle;text-align: right;'>{{'tx-block' | translate}}: </th>
					<th class="th-left col-md-4" style='width:40%;vertical-align: middle;text-align: left;'>{{txInfo.blockId}}</th>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- transaction detail -->
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading" style="text-align: left;">
			<span style="font-size: medium;">{{'tx.info' | translate}}</span><small></small>
		</div>
		<div class="panel-body no-padding">
			<table class="table table-striped no-margin table-hover table-bordered">
				<tbody>
					<!-- from -->
					<div ng-if="txInfo.utxoInputs.length>0">
						<tr ng-repeat="txUtxoInputs in txInfo.utxoInputs">
							<td class="th-left">
								{{'tx.from' | translate}}
							</td>
							<th scope="row" class="th-right">
								{{txUtxoInputs.output.address}}
							</th>
							<th scope="row" class="th-right">
								-{{txUtxoInputs.output.value}}
							</th>
						</tr>
					</div>

					<!-- to -->
					<div ng-if="txInfo.outputs.length>0">
						<tr ng-repeat="txOutputs in txInfo.outputs">
							<td class="th-left">
								{{'tx.to' | translate}}
							</td>
							<th scope="row" class="th-right">
								{{txOutputs.address}}
							</th>
							<th scope="row" class="th-right">
								+{{txOutputs.value}}
							</th>
						</tr>
					</div>

					<!-- data -->
					<tr ng-if="txInfo.payload != null && txInfo.payload.recordType != null">
						<th scope="row" class="th-left">
							{{'tx.data-record' | translate}}
						</th>
						<th scope="row" class="th-right" colspan="2">
							{{txInfo.payload.decryptData}}
						</th>
					</tr>
					<!-- time -->
					<tr>
						<th class="th-left">
							{{'time' | translate}}
						</th>
						<th scope="row" class="th-right" colspan="2">
							{{txInfo.timestamp*1000 | date:'yyyy-MM-dd hh:mm:ss'}}
						</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Footer -->
<footer class="footer-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 footer-social">
				<a href="https://www.facebook.com/ifoods.chain" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/IfoodsL" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="javascript:;"><i class="fa fa-github"></i></a>
				<a href="https://t.me/ifoodschainEN" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 footer-copyright">
				<div><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="javascipt:;">IFD@ifoodschain.com</a></div>
				<div><i class="fa fa-telegram" aria-hidden="true"></i><a href="https://t.me/ifoodschainEN">https://t.me/ifoodschainEN</a></div>
			</div>
		</div>
	</div>
</footer>

</body>

<!-- Javascript -->
<script src="../js/app.js?v=2018052401"></script>
<script src="../js/com.js?v=2018052401"></script>
<script src="../js/tx-info.js?v=2018052401"></script>
<script src="../js/scripts.js?v=2018052401"></script>

<!--[if lt IE 10]>
<script src="../js/placeholder.js"></script>
<![endif]-->

</html>